/*****************************
    fonts
******************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;500;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*****************************
    flexbox
******************************/
header,
.header-accesos,
.seccion-impuestos,
.contenedor-videos,
.contenedor-informacion,
.contenedor-informacion div .contenedor-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seccion-sucursales{
    display: flex;
    flex-direction: row;
}
.header-accesos,
.seccion-box,
.seccion-carrusel, 
.seccion-productos,
.videos-youtube a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucursales-buscador,
.sucursales-texto,
.sucursales,
.seccion-productos,
form, 
footer,
.contenedor-informacion div,
.contenedor-informacion div a,
footer .contenedor-registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*****************************
    color / background
******************************/
.header-accesos button:hover,
.videos-youtube a{
    color: #000000;
}

#boton-header-pagar,
#boton-pagar-burger,
.seccion-sucursales,
.sucursales select,
footer{
    color: #FAFAFA;
}

.seccion-sucursales,
.sucursales option, 
footer{
    background-color: #03246D;
}

/*****************************
    padding / margin 
******************************/
.seccion-box,
.seccion-impuestos,
.seccion-productos,
form, 
footer{
    padding: 6rem 0rem;
}

/*****************************
    header
******************************/
header{
    height: 15vh;
    background-color: #FAFAFA;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.header-logo{
    width: 20vw;
}
.header-accesos{
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
}
.header-accesos a{
    margin-left: 1rem;
}
.header-accesos a:hover{
    color: #000000;
}
.header-accesos a,
.menu-burger a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    color: #5d5d5d;
}

#boton-header-pagar,
#boton-pagar-burger{
    background-color: #005079;
    border-radius: 15px;
    padding: 0.5rem;
}
#boton-pagar-burger{
    padding: 0.2rem 0;
    text-align: center;
}
#boton-header-pagar:hover{
    background-color: #1EBCE2;
}
.burger{
    background-color: transparent;
    color: #5d5d5d;
    border: none;
    font-size: 1.2rem;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}
#boton-pagar-burger{
    margin-top: 0.5rem;
}
.menu-burger{
    flex-direction: column;
    position: absolute;
    right: 1.5rem;
    top: 4rem;
    background-color: #FAFAFA;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #cfcece;
    display: none;
}
.display-flex{
    display: flex;
}

/*****************************
    seccion-carrusel
******************************/
.seccion-carrusel{
    margin-top: 10rem;
}
.seccion-carrusel img{
    width: 90vw;  
    animation: shake 25s infinite;  
}

/*****************************
    seccion box
******************************/
.contenedor-box{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    width: 70vw;
}
.contenedor-box-img{
    width: 80%;
    height: 5%;
    margin: 0 3rem 1.5rem 3rem;
}

.contenedor-box-img img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

/*****************************
    seccion-impuestos
******************************/
.seccion-impuestos{
    display: flex;
    justify-content: flex-start;
}
.seccion-impuestos .impuestos-img {
    width: 50%;
}
.seccion-impuestos .impuestos-img img{
    width: 100%;
}
.seccion-impuestos  .contenedor-servicios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5rem;
}
.contenedor-servicios h3{
    font-weight: 500;
    font-size: 1.5rem;
}
#boton-descargar{
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .5rem 2rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 4px solid #1EBCE2;
    cursor: pointer;
}
#boton-descargar a{
    text-decoration: none;
    color: #111111;
}
/*****************************
    seccion facturas 
******************************/
.seccion-facturas{
    background-image: url(http://ticket.pluspagos.com:4703/img/bk.jpg);
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    height: 100vh;
    position: relative;
    display: none;
}
.seccion-facturas img{
    width: 100vw;
}
.seccion-facturas .boton-atras{
    background-color: transparent;
    border: none;
    margin: 1rem 0 0 1.5rem;
    text-align: start;
    cursor: pointer;
}
.seccion-facturas .boton-atras i{
    color: #fafafa;
    font-size: 2rem;
}
.seccion-facturas .boton-atras i:hover{
   color: #5d5d5d;
}
.seccion-facturas .contenedor-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FAFAFA;
    margin-top: 1rem;
}
.contenedor-id label{
    font-size: 1.8rem;
    width: 25vw;
    text-align: center;
    font-weight: 500;
}
.contenedor-id input{
    border-radius: 15px;
    border: none;
    width: 25rem;
    height: 3rem;
    padding: 1rem;    
    margin-top: 2rem;
    font-size: 1.5rem;
}
.contenedor-id input:focus{
    outline: none;
}

.seccion-facturas input[type=number]::-webkit-inner-spin-button, 
.seccion-facturas input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#buscar{
    background-color: #00BED6;
    color: #FAFAFA;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    cursor: pointer; 
}
#buscar:hover{
    background-color: #fafafa;
    color: #00BED6;
}

/*modal*/
.seccion-facturas .modal{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10vw;
    left: 36vw;
    padding: 2rem;
    background-color: #fafafaef;
    border-radius: 10px;
}
.seccion-facturas .modal p{
    line-height: 2rem;
    font-size: 1.2rem;
}
.seccion-facturas .modal,
.cerrar-modal{
    color: #5d5d5d;
}
.cerrar-modal{
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-top: .5rem;
    font-size: 1.5rem;
}

.cerrar-modal:hover{
    background-color: #5d5d5d;
    color: #fafafa;
}
.msj-error{
    padding-top: 1rem;
    text-align: center;
}

/*****************************
    seccion sucursales 
******************************/
.seccion-sucursales{
    text-align: center;
    margin: 0;
    padding: 0;
}
.seccion-sucursales .sucursales-img{
    width: 50vw;
    height: 75vh;
}
.seccion-sucursales .sucursales-img img{
    width: 100%;
    height: 100%;
}
.seccion-sucursales h3{
    font-size: 3rem;
}
.seccion-sucursales p{
    font-size: 1.5rem;
    padding-top: 1.2rem;
    width: 35vw;
}
.sucursales{
    margin-top: 1.5rem;
}
.sucursales select{
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: .5rem;
    background-color: transparent;
    border-color: #FAFAFA;
    margin: 1.5rem 0 .5rem 0;
}
select:focus{
    outline: none;
}
.sucursales-buscador{
    padding-left: .5rem;
}
/*****************************
    seccion-productos  
******************************/
.seccion-productos{
    background-color: #C8E4E5;
}
.seccion-productos h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.contenedor-videos{
    width: 80vw;
    padding-top:5rem;
}
.videos-youtube{
    margin-top: 2rem;
    font-size: 1.2rem;
}
.videos-youtube a{
    text-decoration: none;
}
.videos-youtube a img{
    width: 8%;
    padding-right: 15px;
}

/*****************************
    Billetera virtual FORM
******************************/
form{
    background-color: #FAFAFA;
    color: #424242;
}
form h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
form p{
    margin-bottom: 1.5rem;
}
form label{
    font-size: 1.2rem;
    margin: .5rem 0;
}
form input, form textarea{
    border-radius: 10px;
    border: 1px solid #a1a1a184;
    padding: .4rem 2.5rem;
    font-size: 1.5rem;
}
form input:hover,
form textarea:hover{
    background-color: #a1a1a184;
    color: #FAFAFA;
}
form input:focus,
form textarea:focus{
    outline: none;
}
form #submit{
    margin-top: 1.5rem;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    color: #424242;
}
form #submit:hover{
    background-color: #a1a1a184;
    color: #FAFAFA;
}
#edad::-webkit-outer-spin-button,
#edad::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

/*****************************
    footer 
******************************/
footer .contenedor-informacion div h4{
    text-decoration: underline;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
.contenedor-informacion{
    margin-top: 4rem;
    width: 80%;
}
.contenedor-informacion div{
    width: 16vw;
}
.contenedor-informacion div a {
    text-align: center;
    color: #FAFAFA;
    text-decoration: none;
}
.contenedor-informacion div img{
    width: 30%;
    padding-top: .5rem;
}
.contenedor-informacion div .contenedor-redes a i{
    font-size: 1.7rem;
}

footer .contenedor-registro{
    padding-top: 5rem;
}

footer .contenedor-registro #ver-mas{
    padding-top: 2rem;
}

/*****************************
    animacion 
******************************/
@keyframes shake {
    0% {
      transform: translateX(50px);
    }
    15% {
      transform: translateX(-50px);
    }
    25% {
      transform: translateX(50px);
    }
    35% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(50px);
    }
    65% {
      transform: translateX(-50px);
    }
    75% {
      transform: translateX(50px);
    }
    85% {
      transform: translateX(-50px);
    }
    500% {
      transform: translateX(50px);
    }
}


/*****************************
    responsive 
******************************/

@media screen and (max-width: 1024px){
    iframe{
        width: 400px;
    }
    .video{
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 768px){
    iframe{
        width: 300px;
    }
    .video{
        margin-left: 1.5rem;
    }
    .header-accesos{
        display: none;
    }
    header .burger{
        display: flex;
    }
    .header-accesos a {
        font-size: .7rem;
    }
    .seccion-carrusel {
        margin-top: 6rem;
    }
    .seccion-carrusel img {
        height: 30vw;
    }
    .seccion-sucursales h3 {
        font-size: 2.5rem;
    }
    .contenedor-servicios h3 {
        font-size: 1.2rem;
    }
    .seccion-sucursales p,
    .sucursales label,
    .videos-youtube, form #submit,
    form label,
    form input, form textarea {
        font-size: 1rem;
    }
    .seccion-productos h3,
    form h3 {
        font-size: 1.7rem;
    }
    .videos-youtube a img {
        width: 10%;
    }
    footer .contenedor-informacion div h4,
    .contenedor-informacion div a,
    footer .contenedor-registro p {
        font-size: .8rem;
    }
    .contenedor-informacion div .contenedor-redes a i {
        font-size: 1.1rem;
    }
    .contenedor-informacion div img {
        width: 80%;
    }
    footer .contenedor-registro p{
        text-align: center;
    }
}

@media screen and (max-width: 475px){
    .seccion-carrusel img {
        width: 80vw;
    }
    .contenedor-box {
        width: 60vw;
    }
    .contenedor-box,
    .primer-columna,
    .segunda-columna{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion-sucursales, 
    .seccion-box, 
    .seccion-impuestos, 
    .seccion-productos, 
    form, 
    footer {
        padding: 3rem 0rem;
    }
    .sucursales select {
        padding: 0.2rem;
        font-size: .6rem;
    }
    .contenedor-servicios h3 {
        font-size: .8rem;
    }
    .contenedor-videos{
        display: flex;
        flex-direction: column;
    }
    #boton-descargar {
        font-size: .7rem;
        padding: 0.1rem 0.7rem;
        border: 2px solid #1EBCE2;
    }
    .seccion-sucursales h3 {
        font-size: 1.7rem;
    }
    .seccion-sucursales p, 
    .sucursales label, 
    .videos-youtube, 
    form #submit, 
    form label, 
    form input, 
    form textarea {
        font-size: .8rem;
    }
    .seccion-productos h3, form h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    .video {
        margin-bottom: 1.5rem;
    }
    .contenedor-videos {
        padding-top: 3rem;
    }
    .videos-youtube a img {
        width: 20%;
    }
    footer img{
        width: 50vw;
    }
    footer .contenedor-informacion div h4, 
    .contenedor-informacion div a, 
    footer .contenedor-registro p {
        font-size: .5rem;
        text-align: center;
    }
    .contenedor-informacion div .contenedor-redes a i {
        font-size: .7rem;
    }
    footer .contenedor-registro {
        padding-top: 3rem;
        width: 75vw;
    }
}


@media screen and (max-width: 320px){
    iframe{
        width: 200px;
        height: 200px;
    }
    .videos-youtube a img {
        width: 30%;
    }
    .seccion-productos h3, form h3 {
        font-size: 1.2rem;
    }
    .seccion-sucursales p, 
    .sucursales label, 
    .videos-youtube, 
    form #submit, 
    form label, 
    form input, 
    form textarea {
        font-size: .6rem;
    }
    
}